{% extends 'base.html' %}
{% load static %}


{% block content %}
<style type="text/css">
.blog {
    color: #fa6e4f !important;
}
</style>


<section id="pages-name">
       <div class="container">
           <div class="row">
             <div id="home-text-box">
               <p id="home-text-title">Blog Posts</p>
               <span id="home-text-index">Home</span><span id="home-text-line">/</span><span id="home-text-name">Blog</span>
             </div>  
           </div>
       </div>
    </section><!--       pages name    -->
   
    <section>
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <div class="col-sm-8">
                     <div id="blog-post-box">
                         <img src="{% static 'img/blog-img5.jpg' %}" class="img-responsive" id="blog-main-img">
                         <div id="who-post-blog">
                            <span id="post-date"><i class="far fa-calendar-alt"></i>Agu29, 2018</span>
                            <span id="post-date"><i class="far fa-user"></i>addmin</span>
                            <span id="post-date"><i class="far fa-comments"></i>Featured</span>
                         </div>
                         <div id="blogpost-box">
                             <p id="blogpost-title">ENJOYING THE SMALL THINGS</p>
                              <p id="blogpost-des">t's time to play the music. It's time to light the lights. It's time to meet the Muppets on the Muppet Show tonight! Boy the way Glen Miller played Songs the hit parade. Guys like us we had it made. Those were the days. These Happy Days are yours and mine Happy Days.</p>
                              
                         </div>
                     </div><!-- blog post -->
                     <div id="blog-post-box">
                         <img src="{% static 'img/blog-img6.jpg' %}" class="img-responsive" id="blog-main-img">
                         <div id="who-post-blog">
                            <span id="post-date"><i class="far fa-calendar-alt"></i>Agu29, 2018</span>
                            <span id="post-date"><i class="far fa-user"></i>addmin</span>
                            <span id="post-date"><i class="far fa-comments"></i>Featured</span>
                         </div>
                         <div id="blogpost-box">
                             <p id="blogpost-title">ENJOYING THE SMALL THINGS</p>
                              <p id="blogpost-des">t's time to play the music. It's time to light the lights. It's time to meet the Muppets on the Muppet Show tonight! Boy the way Glen Miller played Songs the hit parade. Guys like us we had it made. Those were the days. These Happy Days are yours and mine Happy Days.</p>
                              
                         </div>
                     </div><!-- blog post -->
                     <div id="blog-post-box">
                         <img src="{% static 'img/blog-img2.jpg' %}" class="img-responsive" id="blog-main-img">
                         <div id="who-post-blog">
                            <span id="post-date"><i class="far fa-calendar-alt"></i>Agu29, 2018</span>
                            <span id="post-date"><i class="far fa-user"></i>addmin</span>
                            <span id="post-date"><i class="far fa-comments"></i>Featured</span>
                         </div>
                         <div id="blogpost-box">
                             <p id="blogpost-title">ENJOYING THE SMALL THINGS</p>
                              <p id="blogpost-des">t's time to play the music. It's time to light the lights. It's time to meet the Muppets on the Muppet Show tonight! Boy the way Glen Miller played Songs the hit parade. Guys like us we had it made. Those were the days. These Happy Days are yours and mine Happy Days.</p>
                              
                         </div>
                     </div><!-- blog post -->
                  </div>
                  <div class="col-sm-4" id="cata-box-part">
                     <ul id="cata-list">
                        <li><span id="blog-cata-list">CATEGORIES</span></li>
                        <li><hr id="blog-cata-line"></li>
                        <li><i class="fa fa-chevron-right"></i><span>Painting</span></li>
                        <li><i class="fa fa-chevron-right"></i><span>Business </span></li>
                        <li><i class="fa fa-chevron-right"></i><span> Website Design </span></li>
                        <li><i class="fa fa-chevron-right"></i><span> Music </span></li>
                        <li><i class="fa fa-chevron-right"></i><span> Photography </span></li>
                        <li><i class="fa fa-chevron-right"></i><span> Sport </span></li>
                     </ul><!--       blog categories    -->

                     <div class="col-sm-12" id="blog-recent-post">
                        <p id="blog-recent-post-title">Recent Post</p>
                        <hr id="recent-cata-line">
                        <div class="col-sm-12 recent-post">
                          <div class="col-sm-2 col-xs-2" id="blog-recent-post-img">
                              <img src="{% static 'img/recent-img.jpg' %}" >
                          </div>
                          <div class="col-sm-10 col-xs-10" id="blog-recent-post-box">
                              <p id="blog-recent-post-article">Join with our best educatio. </p>
                              <p id="blog-recent-post-des">By <span id="blogger-main-name">John Max</span></p>
                          </div>
                        </div><!-- recen post --> 
                        <div class="col-sm-12 recent-post">
                          <div class="col-sm-2 col-xs-2" id="blog-recent-post-img">
                              <img src="{% static 'img/recent-img.jpg' %}" >
                          </div>
                          <div class="col-sm-10 col-xs-10" id="blog-recent-post-box">
                              <p id="blog-recent-post-article">Join with our best educatio. </p>
                              <p id="blog-recent-post-des">By <span id="blogger-main-name">John Max</span></p>
                          </div>
                        </div><!-- recen post --> 
                        <div class="col-sm-12 recent-post">
                          <div class="col-sm-2 col-xs-2" id="blog-recent-post-img">
                              <img src="{% static 'img/recent-img.jpg' %}" >
                          </div>
                          <div class="col-sm-10 col-xs-10" id="blog-recent-post-box">
                              <p id="blog-recent-post-article">Join with our best educatio. </p>
                              <p id="blog-recent-post-des">By <span id="blogger-main-name">John Max</span></p>
                          </div>
                        </div><!-- recen post -->  
                     </div>

                  </div>
               </div>
            </div>
         </div>
    </section><!--       /Blog section    -->   


 {% endblock %} 