{% extends 'base.html' %}
{% load static %}

{% block content %}
<style type="text/css">
.contact {
    color: #fa6e4f !important;
}
</style>


<section id="pages-name">
       <div class="container">
           <div class="row">
             <div id="home-text-box">
               <p id="home-text-title">Contact</p>
               <span id="home-text-index">Home</span><span id="home-text-line">/</span><span id="home-text-name">Contact</span>
             </div>  
           </div>
       </div>
    </section><!--       pages name    -->

    <section id="contact-icon-row"> 
       <div class="container">
          <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-4" id="contact-icon-box">
                    <i class="fas fa-map-marker-alt contact-icon"></i>
                    <p id="contact-icon-title">Office Address</p>
                    <p id="contact-icon-des">1-13 St Giles High St, <br> London WC2H 8AG, UK</p>
                </div>
                <div class="col-sm-4" id="contact-icon-box">
                    <i class="far fa-envelope-open contact-icon"></i>
                    <p id="contact-icon-title">Email Address</p>
                    <p id="contact-icon-des">companyinfo@gmail.com <br> info@gmail.com</p>
                </div>
                <div class="col-sm-4" id="contact-icon-box">
                    <i class="far fa-clock contact-icon"></i>
                    <p id="contact-icon-title">Office Time</p>
                    <p id="contact-icon-des">Mon - Sat 9:00 - 5:00 <br> Sunday - Closed</p>
                </div>
            </div>
          </div>
       </div>
    </section><!--       contact icon row   -->

    <section id="register-now-section">
       <div class="container">
          <div class="row">
              <div class="col-sm-12">
                 <div class="col-sm-6" id="register-now-from-box">
                    <div id="register-now-from-title">
                        <p>Register Now</p>
                    </div>
                    <div id="register-now-from-input">
                        <input type="text" placeholder="Your Name">
                    </div>
                    <div id="register-now-from-input">
                        <input type="Email" placeholder="Email Address">
                    </div>
                    <div id="register-now-from-input">
                        <input type="password" placeholder="Choose Password">
                    </div>
                    <div id="register-now-from-button">
                        <p>Register Now</p>
                    </div>
                 </div>
                 <div class="col-sm-6" id="register-now-contact-box">
                    <div id="register-now-contact-title">
                        <p>Get in Touch</p>
                    </div>
                    <div id="register-now-from-touch">
                    <div class="col-sm-12" id="register-now-side-row">
                        <div class="col-sm-2 col-xs-2 touch">
                         <span><i class="fas fa-map-marker-alt get-touch"></i></span>
                        </div> 
                        <div class="col-sm-10 col-xs-10 touch">
                         <span id="register-now-text-touch">432 Zafer Street New</span> 
                         <p id="register-now-text2-touch">youk 234 America</p>
                         </div>
                      </div> 
                    </div>
                    <div id="register-now-from-touch">
                     <div class="col-sm-12" id="register-now-side-row">
                        <div class="col-sm-2 col-xs-2  touch">
                          <span><i class="fas fa-phone get-touch"></i></span>
                        </div>
                        <div class="col-sm-10 col-xs-10 touch">  
                         <span id="register-now-text-touch">+(666) 053 39985 </span> 
                         <p id="register-now-text2-touch"> +(333) 026 58963</p>
                        </div> 
                      </div>
                    </div>
                    <div id="register-now-from-touch">
                     <div class="col-sm-12" id="register-now-side-row">
                      <div class="col-sm-2 col-xs-2 touch">
                        <span><i class="far fa-envelope-open get-touch"></i></span>
                      </div>
                      <div class="col-sm-10 col-xs-10 touch">  
                      <span id="register-now-text-touch">support@gmail.com </span> 
                      <p id="register-now-text2-touch"> cryptocoin@gmail.com</p>
                     </div> 
                    </div>
                    </div>
                 </div>
              </div>
          </div>
       </div>
    </section><!--       register Now section   -->


 {% endblock %} 